
@keyframes click-anim {
	100%{
		transform: scale(0.98)
	}
}
.helper-page {
	background: #eaeaea;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: left;
	.helper-panel{
		width: 12.8rem;
		height: 6rem;
		margin: 0.1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #fff;
		.nav-bar{
			width: 100%;
			height: 0.4rem;
			background: #f8f8f8;
			display: flex;
			align-items: center;
			.nav-item{
				flex: 1;
				height: 100%;
				font-size: 0.2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0.01rem;
				background: #f0f0f0;
				position: relative;
				span{
					font-size: 0.18rem;
					height: 0.18rem;
					margin-bottom: -0.09rem;
					position: absolute;
					bottom: 50%;
					color: #999999;
				}
			}
		}
		.shell-line{
			width: 100%;
			height: 0.6rem;
			display: flex;
			align-items: center;
			margin: 0.03rem 0.01rem;
			.shell-item{
				flex: 1;
				height: 100%;
				font-size: 0.2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0.01rem;
				background: #f9f9f9;
				overflow: hidden;
				&.name, &.path{
					border: 0;
					text-align: center;
				}
				&.path{
					font-size: 0.18rem;
					justify-content: center;
				}
				.btn-run{
					background: rgb(111, 179, 144);
					color: #fff;
					font-size: 0.16rem;
					border-radius: 0.04rem;
					padding: 0.08rem 1rem;
					display: flex;
					align-items: center;
					&.invalid{
						background: #999999;
					}
					&:active{
						animation: click-anim 0.3s linear;
					}
				}
			}
		}
	}
}